.episode{
    cursor: pointer;
}

.episode:hover img{
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
    object-fit: cover;
   opacity: 0.4;
}

.image-div{
    position:relative; display: inline-block;

}

.image-div:hover:after{
    content:'';
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: url('../../../assets/play.svg') center no-repeat;
    background-size: 60px;
}

h1{
    margin: 0;
    margin-left: 50px;
    margin-bottom: 15px;
    text-decoration: underline;
}

h2{
    color: #00a4dc;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 5px;
}

h2:hover{
    text-decoration: underline;
}

h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

h3:hover{
    text-decoration: underline;
}