<div class="movie">
    <div class="image-div" (click)="play()">
        <img height="191" width="340" [src]="img_url" [alt]="movie.name" />
        
        <ng-container *ngIf="movie.userData.PlaybackPositionTicks > 0">
            <p-progressBar class="customProgress" [value]="movie.userData.PlayedPercentage" [style]="{ 'height': '6px', 'border-radius': '0px', 'margin-top': '0px', }"></p-progressBar>
        </ng-container>
    </div>
    <div>
        <h2> {{movie.name}}</h2> 
        <ng-container *ngIf="movie.userData.PlaybackPositionTicks >0">
            {{getTimeRest() + 'min remaining'}}
        </ng-container>
        
    </div>
</div>